.box {
    width: 450px;
    height: 90px;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.section2 {
    background-color: pink;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    min-height: 200px;
}

.section3 {
    background-color: pink;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    min-height: 200px;
}

.section4 {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    min-height: 350px;
}